img{
   width: 10px;
   height :10px;
}

.Dashboard{
    display: flex;
    flex-direction: column;
}

.App-header{
    /* width: 100%;
    height: 5%; */
    display: inline-flex;
    
}

.main{
    margin-left: 5px;
}


@media screen and (max-width: 500px) {
    .Inventory-List{
        background-color:rgb(153, 189, 45);
        border-radius: 25px;
        width: 100%;
        text-align: center;  
    }

    .header-bar{
        width: 100%;
        height:100%;
        margin-bottom: 5px;
        margin-right: auto;
        background-color: #ECF9A7;
        border-radius: 25px;
        text-align: center;
    }

    .Dashboard{
        display: flex;
        flex-direction: column;
    }

    .App-header{
        /* width: 100%;
        height: 5%; */
        display: inline-flex;
        
    }
    
  }







  @media screen and (min-width: 501px) {
    .Inventory-List{
        background-color:rgb(153, 189, 45);
        border-radius: 25px;
        width: 50%;

        text-align: center;  
    }

    .header-bar{
        width: 50%;
        height:100%;
        margin-bottom: 5px;
        margin-right: auto;
        background-color: #ECF9A7;
        border-radius: 25px;
        text-align: center;
        
    }

    .Dashboard{
        display: flex;
        flex-direction: row;
    }
    
    .App-header{
        /* width: 100%;
        height: 5%; */
        display: inline-flex;
        flex-direction: column;
    }

    main{
        width: 100%;
        margin-left: 30px;
    }
  }










.item-list{
    list-style: none;
    /* display: grid;
    grid-column-start: 1;
    grid-column-end: 3; */
}

.list-item{
    background-color: #ECF9A7;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius:  15px;
    width: 35%;
}

.recipe-picture{
    border-radius: 15px;
}

 .list-item:hover {
    transform: scale(1.02, 1.02);
  }

  .list-item:hover::after {
    opacity: 1;
  }
.item-name{
 text-align: center;
 font-family: 'Questrial', sans-serif;
}

.expiration-date{
   text-align: center;
   font-family: 'Questrial', sans-serif;
   font-size: 12px
}

.delete-button{
font-family: 'Questrial', sans-serif;
margin-left: auto;
margin-right: auto;
}



/* .footer {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
    height:25%;
    background-color: tan;
    color: white;
    text-align: center;
  } */

.form-holder{
    background-color: #ECF9A7;
}

.add-form{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}



    
    
    
    


.view{
    text-align: left;
    margin-left: 4%;
    font-size: 2em;
    border-bottom: solid black 1px;
}

.Fridge-logo{
   
    height: 100px;
    width: 100px
    
}

.Pantry-logo{
    
    height: 100px;
    width: 100px
}

.Add-logo{
    
    height: 100px;
    width: 100px
}

.Home-logo{
    
    height: 100px;
    width: 100px
}

.Recipe-logo{
   
    height: 100px;
    width: 100px
}

.plus{
    height: 5%;
    width: 5%;
}