*{
    font-family: 'Quicksand', sans-serif;
}

img{
   width: 10px;
   height :10px;
}

.Dashboard{
    display: flex;
    flex-direction: column;
}

.App-header{
    /* width: 100%;
    height: 5%; */
    display: inline-flex;
    
}

.main{
    margin-left: 5px;
}


@media screen and (max-width: 659px) {
    .Inventory-List{
        border-radius: 25px;
        width: 100%;
        text-align: center;  
    }

    .App-header{
        padding-right: 10px;
    }

    .header-bar{
        width: 100%;
        height:100%;
        margin-bottom: 25px;
        background-color: #ECF9A7;
        border-radius: 25px;
        padding-left: 10px;
        padding-right: 10px;
        background-image: url('../images/grocery.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        color: rgb(247, 245, 242);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        padding-bottom: 10px;
    }

    .Dashboard{
        display: flex;
        flex-direction: column;
    }

    .App-header{
        /* width: 100%;
        height: 5%; */
        display: inline-flex;
        justify-content: space-evenly;
        
    }
    .home{
        border: 1px solid black;
        background-color: #ECF9A7;
        width: 100%;
        border-radius: 15px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .intro{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        padding-left: 10px;
        border: 1px solid black;
        border-radius:  15px;
        width: 100%;
        font-weight: bold;
    }

    .recipe-list{
        list-style: none;
        padding-left: 0;
    }

    .recipe-card{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        border: 1px solid black;
        border-radius:  15px;
        animation: fadeIn 0.5s linear;
        animation-fill-mode: both;
      }

      .list-item{
        background-color: #ECF9A7;
        margin-bottom: 10px;
        margin-right: 15px;
        border: 1px solid black;
        border-radius:  15px;
        width: 100%;
        font-size: 30px;;
        animation: fadeIn 0.5s linear;
        animation-fill-mode: both;
      }
    
    .item-list{
        padding-left: 3px;
    }
  }







@media screen and (min-width: 660px) {
    .Inventory-List{
        border-radius: 25px;
        width: 50%;
        text-align: center; 
    }
    
    .header-bar{
        width: 70%;
        height:100%;
        margin-bottom: 25px;
        background-color: #ECF9A7;
        border-radius: 25px;
        padding-left: 10px;
        background-image: url('../images/grocery.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        color: rgb(247, 245, 242);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        padding-bottom: 10px;
        
    }

    .Dashboard{
        display: flex;
        flex-direction: row;
    }
    
    .App-header{
        display: inline-flex;
        flex-direction: column;
        margin-right: 15px;
    }

    main{
        width: 100%;
        margin-left: 30px;
        min-height: 400px;
        margin-bottom: 100px;
        clear: both; 
    }
    
    .home{
        border: 1px solid black;
        background-color: #ECF9A7;
        width: 50%;
        border-radius: 15px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    .intro{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        padding-left: 10px;
        border: 1px solid black;
        border-radius:  15px;
        width: 50%;
        font-weight: bold;
    }

    .item-list{
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        
    }

    .recipe-list{
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipe-card{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        border: 1px solid black;
        border-radius:  15px;
        width: 35%;
        animation: fadeIn 0.5s linear;
        animation-fill-mode: both;
      }

    .Fridge-logo{
   
        height: 100px;
        width: 100px
        
    }
    
    .Pantry-logo{
        padding-top: 10px;
        height: 100px;
        width: 100px
    }
    
    .Add-logo{
        padding-top: 10px;
        height: 100px;
        width: 100px
    }
    
    .Garbagecan-logo{
        padding-top: 10px;
        height: 100px;
        width: 100px
    }
    
    .Recipe-logo{
        padding-top: 10px;
        height: 100px;
        width: 100px
    }
    
    .plus{
        padding-top: 10px;
        height: 5%;
        width: 5%;
    }

    .list-item{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        border: 1px solid black;
        border-radius:  15px;
        width: 35%;
        font-size: 30px;;
        animation: fadeIn 0.5s linear;
        animation-fill-mode: both;
      }

}

.item-list{
    list-style: none;
}


  
  
  @for $i from 1 through $total-items {
    li:nth-child(#{$i}) {
      animation-delay: .25s * $i;
    }
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  

.recipe-picture{
    padding-top: 10px;
    border-radius: 15px;
    height: 45%;
    width: 45%;
}

.list-item:hover {
    transform: scale(1.02, 1.02);
  }

.list-item:hover::after {
    opacity: 1;
  }
.item-name{
 text-align: center;
 font-family: 'Questrial', sans-serif;
 padding-top: 10px;
}

.expiration-date{
   text-align: center;
   font-family: 'Questrial', sans-serif;
   font-size: 20px
}

.delete-button{
font-family: 'Questrial', sans-serif;
margin-left: auto;
margin-right: auto;
}

.form-holder{
    background-color: #ECF9A7;
}

.add-form{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.view{
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 2em;
   
}

.Fridge-logo{
   
    height: 100px;
    width: 100px
    
}

.Pantry-logo{
    
    height: 100px;
    width: 100px
}

.Add-logo{
    
    height: 100px;
    width: 100px
}

.Garbagecan-logo{
    
    height: 100px;
    width: 100px
}

.Recipe-logo{
    
    height: 100px;
    width: 100px
}

.plus{
    height: 5%;
    width: 5%;
}
.veg-picture{
    width:30%;
    position: relative;
    left: 63.5%;
    border-radius: 15px;
    bottom: 0%;
    
    
} 

.form-input{
    padding-bottom: 10px;
}


.login-form{
    flex-grow:1;
}

img{
    height: 100%;
    width: 100%;
}

