*{
    font-family: 'Quicksand', sans-serif;
}

img{
   width: 10px;
   height :10px;
}

.Dashboard{
    display: flex;
    flex-direction: column;
}

.App-header{
    /* width: 100%;
    height: 5%; */
    display: inline-flex;
    
}

.main{
    margin-left: 5px;
}


@media screen and (max-width: 500px) {
    .Inventory-List{
        background-color:rgb(153, 189, 45);
        border-radius: 25px;
        width: 100%;
        text-align: center;  
    }

    .header-bar{
        width: 100%;
        height:100%;
        margin-bottom: 5px;
        margin-right: auto;
        background-color: #ECF9A7;
        border-radius: 25px;
        text-align: center;
    }

    .Dashboard{
        display: flex;
        flex-direction: column;
    }

    .App-header{
        /* width: 100%;
        height: 5%; */
        display: inline-flex;
        
    }
    .home{
        border: 1px solid black;
        background-color: #ECF9A7;
        width: 100%;
        border-radius: 15px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .intro{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        padding-left: 10px;
        border: 1px solid black;
        border-radius:  15px;
        width: 100%;
        font-weight: bold;
    }
  }







@media screen and (min-width: 501px) {
    .Inventory-List{
        background-color:rgb(153, 189, 45);
        border-radius: 25px;
        width: 50%;

        text-align: center;  
    }

    .header-bar{
        width: 50%;
        height:100%;
        margin-bottom: 25px;
        margin-right: auto;
        background-color: #ECF9A7;
        border-radius: 25px;
        padding-left: 10px;
        background-image: url('../images/grocery.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        color: rgb(247, 245, 242);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        padding-bottom: 10px;
    }

    .Dashboard{
        display: flex;
        flex-direction: row;
    }
    
    .App-header{
        display: inline-flex;
        flex-direction: column;
    }

    main{
        width: 100%;
        margin-left: 30px;
        min-height: 400px;
        margin-bottom: 100px;
        clear: both;
        
      
    }
    .home{
        border: 1px solid black;
        background-color: #ECF9A7;
        width: 50%;
        border-radius: 15px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .intro{
        background-color: #ECF9A7;
        margin-bottom: 5px;
        margin-right: 5px;
        padding-left: 10px;
        border: 1px solid black;
        border-radius:  15px;
        width: 50%;
        font-weight: bold;
    }
}

.item-list{
    list-style: none;
}

.list-item{
    background-color: #ECF9A7;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius:  15px;
    width: 35%;
}

.recipe-picture{
    border-radius: 15px;
}

.list-item:hover {
    transform: scale(1.02, 1.02);
  }

.list-item:hover::after {
    opacity: 1;
  }
.item-name{
 text-align: center;
 font-family: 'Questrial', sans-serif;
}

.expiration-date{
   text-align: center;
   font-family: 'Questrial', sans-serif;
   font-size: 12px
}

.delete-button{
font-family: 'Questrial', sans-serif;
margin-left: auto;
margin-right: auto;
}

.form-holder{
    background-color: #ECF9A7;
}

.add-form{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.view{
    text-align: left;
    margin-left: 4%;
    font-size: 2em;
    border-bottom: solid black 1px;
}

.Fridge-logo{
   
    height: 100px;
    width: 100px
    
}

.Pantry-logo{
    
    height: 100px;
    width: 100px
}

.Add-logo{
    
    height: 100px;
    width: 100px
}

.Home-logo{
    
    height: 100px;
    width: 100px
}

.Recipe-logo{
   
    height: 100px;
    width: 100px
}

.plus{
    height: 5%;
    width: 5%;
}
.veg-picture{
    width:30%;
    position: relative;
    left: 63.5%;
    border-radius: 15px;
    bottom: 0%;
    
    
} 



.login-form{
    flex-grow:1;
}

.login-header{
    
    
}